bluegill_data/videos/*.mp4
bluegill_data/*.png
bluegill_data/*.jpeg
bluegill_data/*.jpg
bluegill_data/synthetic_data/*.png
bluegill_data/synthetic_data/*.txt
bluegill_data/reconstruction_data/*
*.blend1
.vscode
*yolo11*.pt
train_yolo/runs
free_fish_et/src/results/*