bluegill_data/videos/*.mp4
bluegill_data/synthetic_data/*.png
bluegill_data/synthetic_data/*.txt
*.blend1
.vscode
*yolo11*.pt
train_yolo/runs
free_fish_et/src/results/*
calibration/calib_outputs/*/*.png
calibration/calib_outputs/*/*.jpeg
calibration/calib_outputs/*/*.jpg